*{
    margin: 0%;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
   
}
header{
    display: flex;
    min-height: 130px;
    background: linear-gradient(3deg, transparent, 50%,#0C406D 50% );
    justify-content: space-between;
    width: 100%;
    
}

body{
    background: linear-gradient(to left, #D4D3DD, #EFEFBB);
}
.logoPokemon{
    height: 250px;
    width: 400px;
    margin-left: 10px;
   

    
}
button{

    text-decoration: black;
    padding: 7px;
    font-size: 15px;
    color: #111010;
    text-align: center;
  
  }

.ash{
    display: flex;
    
    width: 500px;
    height: 500px;
    
}

main{
    display: flex;;
    width: 100%;
    justify-content: center;

}
  
button{
    width: 180px;
    height: 70px;
    margin-top: 10px;
    background-color: #0C406D;
    color: aliceblue;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}
.bloqueInicio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
    
}

h1{
    margin-top: 5px;
    font-size: 35px;
}