
/*/////////////////Hacer resposivo la pagina*/
*{
    margin: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(222, 218, 218, 0.647);
   
}

header{
    display: flex;
    min-height: 130px;
    background: #0C406D ;
    justify-content: space-between;
    width: auto;
    
}

.logo{
    display: flex;

}

.logo img{
    height: 120px;
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: black;
}
nav a{
    font-weight: 600px;
    padding-right: 20px;
}

nav{
    padding: 50px;
}

nav a:hover{
    color:white;
}

@media (max-width:700px){
    header{
        flex-direction: column;

    }
    nav{
        padding: 10px 30px;
    }
        

}



p{
    color: rgb(0, 0, 0);
    margin: 5px;
    text-align: justify;
}

pokemon-details{
    display: flex;

}
h2{
    color:rgb(6, 6, 6);
}


#pokemon-details{
    display: flex;
    width: auto;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    

}
.card{
    /*padding: 10px;
    width: 250px;
    border: solid white;
    margin: 10px;*/
    background: rgba(255, 255, 254, 0.758);
    padding: 10px;
    width: 250px;
    border: solid white;
    border-color: rgb(0, 0, 0);
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}
#buscador{
    position: left;
    margin-top: 30px;
    margin-left: 30px;
}
/*/////////////////BOTONES */
.btn-header{
    border-radius: 5px;
    margin: 2px;
}
.nav-list{
    display: flex;
}
.botones{
    display: flex;
    justify-content: center;
}
#normal{
    background-color: #A8A878;
}
#fire{
    background-color: #F08030;
}
#water{
    background-color: #6890F0;
}
#grass{
    background-color: #78C850;;
}
#electric{
    background-color: #F8D030;
}
#ice{
    background-color: #98D8D8;
}
#fighthing{
    background-color: #C03028;
}
#poison{
    background-color: #A040A0;
}
#ground{
    background-color: #E0C068;
}
#flying{
    background-color: #A890F0;
}
#psychic{
    background-color: #F85888;
}
#bug{
    background-color: #A8B820;
}
#rock{
    background-color: #B8A038;
}
#ghost{
    background-color: #705898;
}
#dark{
    background-color: #705848;
}
#dragon{
    background-color: #7038F8;
}
#steel{
    background-color: #B8B8D0;
}
#fairy{
    background-color: #F0B6BC;
}
