*{
    margin: 0%;
}

html{
    font-family: Arial, Helvetica, sans-serif;
   
}
header{
    display: flex;
    min-height: 130px;
    background: #0C406D ;
    justify-content: space-between;
    width: auto;
    
}

header{
    background: linear-gradient(3deg, transparent 50%,#0C406D 50%)
 }
 

.logo img{
    height: 120px;
    margin-left: 30px;

    
}
button{

    text-decoration: black;
    padding: 7px;
    font-size: 15px;
    color: #111010;
    text-align: center;
  
  }
  